.CADASTRO {
    background-color: #008466;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.CADASTRO .overlap-wrapper {
    background-color: #008466;
    width: 1920px;
    height: 1080px;
}

.CADASTRO .overlap {
    position: relative;
    width: 1647px;
    height: 898px;
    top: 96px;
    left: 132px;
    background-color: #d9d9d9;
    box-shadow: 20px 20px 10px #00000061;
}

.CADASTRO .overlap-group {
    position: absolute;
    width: 311px;
    height: 60px;
    top: 567px;
    left: 86px;
    border-radius: 42px;
}

.CADASTRO .eyes-closed {
    left: 258px;
    position: absolute;
    width: 26px;
    height: 10px;
    top: 27px;
}

.CADASTRO .input-criar-conta {
    position: absolute;
    width: 311px;
    height: 60px;
    top: 0;
    left: 0;
    border-radius: 42px;
    border: 2px solid;
    border-color: #0000007d;
}

.CADASTRO .text-wrapper {
    position: absolute;
    top: 19px;
    left: 25px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.CADASTRO .div {
    position: absolute;
    width: 311px;
    height: 60px;
    top: 567px;
    left: 441px;
    border-radius: 42px;
}

.CADASTRO .img {
    left: 256px;
    position: absolute;
    width: 26px;
    height: 10px;
    top: 27px;
}

.CADASTRO .text-wrapper-2 {
    position: absolute;
    top: 19px;
    left: 27px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.CADASTRO .text-wrapper-3 {
    position: absolute;
    top: 186px;
    left: 253px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.CADASTRO .line-crie-sua-conta {
    position: absolute;
    width: 338px;
    height: 2px;
    top: 277px;
    left: 253px;
}

.CADASTRO .j-possui-uma-conta {
    position: absolute;
    top: 844px;
    left: 300px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: transparent;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.CADASTRO .span {
    color: #7a7a7a;
}

.CADASTRO .text-wrapper-4 {
    color: #41a18bf0;
}

.CADASTRO .overlap-2 {
    position: absolute;
    width: 799px;
    height: 898px;
    top: 0;
    left: 848px;
}

.CADASTRO .image-maior {
    position: absolute;
    width: 799px;
    height: 898px;
    top: 0;
    left: 848px;
    background-size: cover;
    background-position: 50% 50%;
  }

.CADASTRO .shadow-image {
    position: absolute;
    width: 719px;
    height: 226px;
    top: 665px;
    left: 80px;
    background-color: #26262685;
    filter: blur(19.6px);
}

.CADASTRO .slider-dots {
    display: flex;
    width: 91px;
    height: 30px;
    align-items: center;
    justify-content: center;
    gap: 11.29px;
    position: absolute;
    top: 840px;
    left: 411px;
    box-shadow: 0px 2px 4px #00000040;
}

.CADASTRO .image {
    position: relative;
    width: 20px;
    height: 20px;
    margin-left: -1.91px;
    border-radius: 10px;
    border: 0.71px solid;
    border-color: var(--white);
}

.CADASTRO .white {
    position: relative;
    width: 30.24px;
    height: 40.32px;
    margin-top: -5.16px;
    margin-bottom: -5.16px;
}

.CADASTRO .overlap-group-2 {
    position: relative;
    width: 31px;
    height: 41px;
}

.CADASTRO .ellipse {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    left: 0;
    background-color: var(--white);
    border-radius: 10.08px;
    border: 0.71px solid;
    border-color: var(--white);
}

.CADASTRO .ellipse-2 {
    position: absolute;
    width: 21px;
    height: 41px;
    top: 0;
    left: 10px;
}

.CADASTRO .elipse-image {
    position: relative;
    width: 22px;
    height: 20px;
    margin-right: -1.91px;
    border-radius: 11px/10px;
    border: 0.71px solid;
    border-color: var(--white);
}

.CADASTRO .p {
    position: absolute;
    width: 622px;
    top: 766px;
    left: 139px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.CADASTRO .div-wrapper {
    position: absolute;
    width: 311px;
    height: 60px;
    top: 369px;
    left: 86px;
    border-radius: 42px;
    border: 2px solid;
    border-color: #0000007d;
}

.CADASTRO .text-wrapper-5 {
    position: absolute;
    width: 119px;
    top: 17px;
    left: 23px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.CADASTRO .login-button {
    position: absolute;
    width: 339px;
    height: 54px;
    top: 765px;
    left: 242px;
}

.CADASTRO .overlap-group-3 {
    position: relative;
    width: 337px;
    height: 54px;
    background-color: #245f2a;
    border-radius: 65px;
}

.CADASTRO .text-wrapper-6 {
    position: absolute;
    top: 13px;
    left: 103px;
    opacity: 0.5;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.CADASTRO .overlap-group-wrapper {
    position: absolute;
    width: 339px;
    height: 54px;
    top: 697px;
    left: 241px;
}

.CADASTRO .text-wrapper-7 {
    position: absolute;
    top: 13px;
    left: 120px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.CADASTRO .elipse-logo-pocap {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 33px;
    left: 22px;
    object-fit: cover;
}

.CADASTRO .text-wrapper-8 {
    position: absolute;
    top: 52px;
    left: 98px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.CADASTRO .line-pocap {
    position: absolute;
    width: 81px;
    height: 1px;
    top: 76px;
    left: 95px;
    object-fit: cover;
}

.CADASTRO .overlap-3 {
    position: absolute;
    width: 311px;
    height: 60px;
    top: 369px;
    left: 441px;
    border-radius: 42px;
    border: 2px solid;
    border-color: #0000007d;
}

.CADASTRO .text-wrapper-9 {
    position: absolute;
    top: 17px;
    left: 25px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.CADASTRO .overlap-4 {
    position: absolute;
    width: 311px;
    height: 60px;
    top: 468px;
    left: 86px;
    border-radius: 42px;
    border: 2px solid;
    border-color: #0000007d;
}

.CADASTRO .text-wrapper-10 {
    position: absolute;
    top: 17px;
    left: 27px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.CADASTRO .overlap-5 {
    position: absolute;
    width: 311px;
    height: 60px;
    top: 468px;
    left: 441px;
    border-radius: 42px;
    border: 2px solid;
    border-color: #0000007d;
}

.CADASTRO .text-wrapper-11 {
    position: absolute;
    top: 17px;
    left: 19px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}
